Repository ingef/conquery, pull requests merged in 2024-08, with the labels that each got.

#3509 Fix TableExportQuery conversion
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/NumberMapUtil.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/aggregator/SumSqlAggregator.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/filter/NumberFilterConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/query/TableExportQueryConverter.java
  backend/src/test/resources/shared/geschlecht.concept.json
  backend/src/test/resources/shared/vers_stamm.csv
  backend/src/test/resources/shared/vers_stamm.table.json
  backend/src/test/resources/tests/sql/form/FULL_EXPORT_FORM/FULL_EXPORT_FORM_SECONDARY_ID.json
  backend/src/test/resources/tests/sql/form/FULL_EXPORT_FORM/expected.csv
Labels: bug, backend, Project SQL

#3521 enable healthcheck for sql connection
  backend/src/main/java/com/bakdata/conquery/commands/ManagerNode.java
  backend/src/main/java/com/bakdata/conquery/mode/NamespaceHandler.java
  backend/src/main/java/com/bakdata/conquery/mode/cluster/ClusterNamespaceHandler.java
  backend/src/main/java/com/bakdata/conquery/mode/local/LocalNamespaceHandler.java
  backend/src/main/java/com/bakdata/conquery/models/config/SqlConnectorConfig.java
  backend/src/main/java/com/bakdata/conquery/models/worker/DatasetRegistry.java
  backend/src/main/java/com/bakdata/conquery/resources/admin/AdminServlet.java
  backend/src/main/java/com/bakdata/conquery/resources/admin/rest/AdminDatasetProcessor.java
  backend/src/main/java/com/bakdata/conquery/sql/DslContextFactory.java
  backend/src/test/java/com/bakdata/conquery/integration/sql/dialect/HanaSqlIntegrationTests.java
  backend/src/test/java/com/bakdata/conquery/integration/sql/dialect/PostgreSqlIntegrationTests.java
  backend/src/test/java/com/bakdata/conquery/integration/sql/dialect/TestSqlConnectorConfig.java
  backend/src/test/java/com/bakdata/conquery/io/AbstractSerializationTest.java
Labels: backend, Project SQL

#3536 remove cqpp import via file path
  backend/src/main/java/com/bakdata/conquery/models/config/PreprocessingConfig.java
  backend/src/main/java/com/bakdata/conquery/resources/admin/rest/AdminDatasetResource.java
  backend/src/main/java/com/bakdata/conquery/util/io/FileUtil.java
  backend/src/test/java/com/bakdata/conquery/integration/common/LoadingUtil.java
  backend/src/test/resources/tests/endpoints/adminEndpointInfo.json
Labels: backend, security
