Repository ingef/conquery, pull requests merged in 2024-05, with the labels that each got.

#3399 Implement entity date query conversion
  backend/src/main/java/com/bakdata/conquery/sql/conversion/cqelement/CQExternalConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/cqelement/concept/IntervalPackingSelectsCte.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/dialect/HanaSqlFunctionProvider.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/dialect/PostgreSqlFunctionProvider.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/dialect/SqlDialect.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/dialect/SqlFunctionProvider.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/forms/FormCteStep.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/forms/HanaStratificationFunctions.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/forms/PostgresStratificationFunctions.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/forms/README.md
  backend/src/main/java/com/bakdata/conquery/sql/conversion/forms/StratificationFunctions.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/forms/StratificationTableFactory.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/SqlIdColumns.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/StratificationSqlIdColumns.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/query/AbsoluteFormQueryConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/query/ConceptQueryConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/query/EntityDateQueryConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/query/FormConversionHelper.java
  backend/src/test/resources/tests/form/EXPORT_FORM/ENTITY_DATE/SIMPLE/expected.csv
  backend/src/test/resources/tests/form/EXPORT_FORM/ENTITY_DATE/SIMPLE/expected_with_select.csv
  backend/src/test/resources/tests/form/EXPORT_FORM/ENTITY_DATE/SIMPLE/query_results_1.csv
  backend/src/test/resources/tests/sql/form/ENTITY_DATE/LOGICAL/ABS_EXPORT_FORM.json
  backend/src/test/resources/tests/sql/form/ENTITY_DATE/LOGICAL_WITH_EXCLUDE/ABS_EXPORT_FORM.json
  backend/src/test/resources/tests/sql/form/ENTITY_DATE/SECONDARY_ID/SECONDARY_ID.json
  backend/src/test/resources/tests/sql/form/ENTITY_DATE/SIMPLE/ABS_EXPORT_FORM.json
  backend/src/test/resources/tests/sql/form/ENTITY_DATE/SIMPLE/ABS_EXPORT_FORM_WITH_SELECT.json
Labels: backend, Project SQL

#3428 Full export form conversion
  backend/src/main/java/com/bakdata/conquery/apiv1/query/concept/filter/FilterValue.java
  backend/src/main/java/com/bakdata/conquery/models/config/SqlConnectorConfig.java
  backend/src/main/java/com/bakdata/conquery/models/datasets/Table.java
  backend/src/main/java/com/bakdata/conquery/models/datasets/concepts/filters/Filter.java
  backend/src/main/java/com/bakdata/conquery/models/datasets/concepts/filters/specific/BigMultiSelectFilter.java
  backend/src/main/java/com/bakdata/conquery/models/datasets/concepts/filters/specific/CountFilter.java
  backend/src/main/java/com/bakdata/conquery/models/datasets/concepts/filters/specific/DateDistanceFilter.java
  backend/src/main/java/com/bakdata/conquery/models/datasets/concepts/filters/specific/FlagFilter.java
  backend/src/main/java/com/bakdata/conquery/models/datasets/concepts/filters/specific/MultiSelectFilter.java
  backend/src/main/java/com/bakdata/conquery/models/datasets/concepts/filters/specific/NumberFilter.java
  backend/src/main/java/com/bakdata/conquery/models/datasets/concepts/filters/specific/SingleSelectFilter.java
  backend/src/main/java/com/bakdata/conquery/models/datasets/concepts/filters/specific/SumFilter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/SharedAliases.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/cqelement/concept/CQConceptConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/cqelement/concept/FilterContext.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/dialect/HanaSqlFunctionProvider.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/dialect/PostgreSqlFunctionProvider.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/dialect/SqlDialect.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/dialect/SqlFunctionProvider.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/forms/README.md
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/ColumnDateRange.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/QueryStepTransformer.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/aggregator/FlagSqlAggregator.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/filter/CountCondition.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/filter/DateDistanceCondition.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/filter/FlagCondition.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/filter/MultiSelectCondition.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/filter/NumberCondition.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/filter/SumCondition.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/query/ConceptQueryConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/query/TableExportQueryConverter.java
  backend/src/main/java/com/bakdata/conquery/util/TablePrimaryColumnUtil.java
  backend/src/test/java/com/bakdata/conquery/integration/common/RequiredTable.java
  backend/src/test/java/com/bakdata/conquery/integration/sql/CsvTableImporter.java
  backend/src/test/resources/tests/form/shared/abc.concept.json
  backend/src/test/resources/tests/sql/form/FULL_EXPORT_FORM/FULL_EXPORT_FORM_SECONDARY_ID.json
  backend/src/test/resources/tests/sql/form/FULL_EXPORT_FORM/expected.csv
Labels: backend, Project SQL

#3431 Fix feature conversion of AND/OR nodes
  backend/src/main/java/com/bakdata/conquery/sql/conversion/cqelement/CQAndConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/cqelement/CQNegationConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/cqelement/CQOrConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/cqelement/ConversionContext.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/NameGenerator.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/QueryStep.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/aggregator/ExistsSqlAggregator.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/select/ExistsSqlSelect.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/query/AbsoluteFormQueryConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/query/FormConversionHelper.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/query/TableExportQueryConverter.java
  backend/src/test/resources/tests/form/MULTIPLE_FEATURES_AND_CONNECTOR.test.json
  backend/src/test/resources/tests/sql/form/ABSOLUT/MULTIPLE_FEATURES/MULTIPLE_FEATURES_AND_CONNECTOR.json
  backend/src/test/resources/tests/sql/form/ABSOLUT/MULTIPLE_FEATURES/expected_and_connector.csv
Labels: bug, backend, Project SQL

#3430 Fix duration sum for infinity dates
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/aggregator/EventDurationSumSqlAggregator.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/aggregator/SqlAggregator.java
  backend/src/test/resources/tests/sql/selects/sum/duration_sum/content.csv
  backend/src/test/resources/tests/sql/selects/sum/duration_sum/expected.csv
Labels: bug, backend, Project SQL

#3381 Rework version info format
  backend/src/main/java/com/bakdata/conquery/apiv1/frontend/FrontendConfiguration.java
  backend/src/main/java/com/bakdata/conquery/apiv1/frontend/VersionContainer.java
  backend/src/main/java/com/bakdata/conquery/io/external/form/ExternalFormBackendApi.java
  backend/src/main/java/com/bakdata/conquery/io/external/form/FormBackendVersion.java
  backend/src/main/java/com/bakdata/conquery/models/config/FormBackendConfig.java
  backend/src/main/java/com/bakdata/conquery/resources/api/ConfigResource.java
  backend/src/main/java/com/bakdata/conquery/util/VersionInfo.java
  backend/src/main/resources/com/bakdata/conquery/external/openapi-form-backend.yaml
  backend/src/test/java/com/bakdata/conquery/integration/tests/ExternalFormBackendTest.java
  backend/src/test/java/com/bakdata/conquery/models/SerializationTests.java
  frontend/src/js/api/types.ts
  frontend/src/js/app/About.tsx
  frontend/src/js/startup/reducer.ts
  openapi.yaml
Labels: backend, frontend, http api change

#3429 Fix reused query conversion
  backend/src/main/java/com/bakdata/conquery/sql/conversion/dialect/SqlDialect.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/query/CQReusedQueryConverter.java
  backend/src/test/java/com/bakdata/conquery/integration/sql/programmatic/SqlReusedQueryTest.java
  backend/src/test/java/com/bakdata/conquery/integration/tests/ReusedQueryTest.java
  backend/src/test/resources/tests/query/SECONDARY_ID_MIXED/SECONDARY_IDS_MIXED.test.json
  backend/src/test/resources/tests/query/SECONDARY_ID_MIXED/content.csv
  backend/src/test/resources/tests/query/SECONDARY_ID_MIXED/content2.csv
Labels: bug, backend, Project SQL

#3442 Make SQL executions async
  backend/src/main/java/com/bakdata/conquery/models/forms/managed/ManagedInternalForm.java
  backend/src/main/java/com/bakdata/conquery/sql/conquery/SqlExecutionManager.java
Labels: backend, Project SQL

#3449 AdminEnd Render-Bug: return description for StringStoreString
  backend/src/main/java/com/bakdata/conquery/io/storage/NamespaceStorage.java
  backend/src/main/java/com/bakdata/conquery/io/storage/NamespacedStorage.java
  backend/src/main/java/com/bakdata/conquery/io/storage/WorkerStorage.java
  backend/src/main/java/com/bakdata/conquery/models/events/stores/primitive/StringStoreString.java
  backend/src/main/java/com/bakdata/conquery/models/events/stores/root/ColumnStore.java
Labels: bug, backend

#3458 Fix null value handling in SqlDateSetParser
  backend/src/main/java/com/bakdata/conquery/sql/execution/DefaultSqlCDateSetParser.java
Labels: bug, backend, Project SQL

#3457 Fix FAILED executions in SQL mode
  backend/src/main/java/com/bakdata/conquery/sql/conquery/SqlExecutionManager.java
Labels: backend, Project SQL

#3456 Fix SQL config defaults and validation
  backend/src/main/java/com/bakdata/conquery/models/config/DatabaseConfig.java
  backend/src/main/java/com/bakdata/conquery/models/config/SqlConnectorConfig.java
  backend/src/main/java/com/bakdata/conquery/models/datasets/Table.java
  backend/src/main/java/com/bakdata/conquery/util/TablePrimaryColumnUtil.java
  backend/src/test/java/com/bakdata/conquery/integration/common/RequiredTable.java
Labels: backend, Project SQL
