Repository ingef/conquery, pull requests merged in 2024-07, with the labels that each got.

#3483 CQYes conversion
  backend/src/main/java/com/bakdata/conquery/apiv1/QueryProcessor.java
  backend/src/main/java/com/bakdata/conquery/apiv1/query/concept/specific/external/CQExternal.java
  backend/src/main/java/com/bakdata/conquery/mode/local/LocalNamespaceHandler.java
  backend/src/main/java/com/bakdata/conquery/models/config/ColumnConfig.java
  backend/src/main/java/com/bakdata/conquery/models/config/DatabaseConfig.java
  backend/src/main/java/com/bakdata/conquery/models/config/IdColumnConfig.java
  backend/src/main/java/com/bakdata/conquery/models/config/SqlConnectorConfig.java
  backend/src/main/java/com/bakdata/conquery/models/identifiable/mapping/EntityIdMap.java
  backend/src/main/java/com/bakdata/conquery/resources/api/ConfigResource.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/NodeConversions.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/SqlConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/cqelement/CQYesConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/cqelement/ConversionContext.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/dialect/SqlDialect.java
  backend/src/main/java/com/bakdata/conquery/util/io/IdColumnUtil.java
  backend/src/test/java/com/bakdata/conquery/integration/json/ConqueryTestSpec.java
  backend/src/test/resources/tests/sql/yes/CQYES.test.json
  backend/src/test/resources/tests/sql/yes/expected.csv
  backend/src/test/resources/tests/sql/yes/persons.csv
Labels: backend, Project SQL

#3485 Fix SqlConnectorConfig serialization
  backend/src/main/java/com/bakdata/conquery/apiv1/QueryProcessor.java
  backend/src/main/java/com/bakdata/conquery/apiv1/query/concept/specific/external/CQExternal.java
  backend/src/main/java/com/bakdata/conquery/mode/local/LocalNamespaceHandler.java
  backend/src/main/java/com/bakdata/conquery/models/config/ColumnConfig.java
  backend/src/main/java/com/bakdata/conquery/models/config/DatabaseConfig.java
  backend/src/main/java/com/bakdata/conquery/models/config/IdColumnConfig.java
  backend/src/main/java/com/bakdata/conquery/models/config/SqlConnectorConfig.java
  backend/src/main/java/com/bakdata/conquery/models/identifiable/mapping/EntityIdMap.java
  backend/src/main/java/com/bakdata/conquery/resources/api/ConfigResource.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/NodeConversions.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/SqlConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/cqelement/CQYesConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/cqelement/ConversionContext.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/dialect/SqlDialect.java
  backend/src/main/java/com/bakdata/conquery/util/io/Cloner.java
  backend/src/main/java/com/bakdata/conquery/util/io/IdColumnUtil.java
  backend/src/test/java/com/bakdata/conquery/integration/IntegrationTests.java
  backend/src/test/java/com/bakdata/conquery/integration/json/ConqueryTestSpec.java
  backend/src/test/java/com/bakdata/conquery/integration/sql/dialect/HanaSqlIntegrationTests.java
  backend/src/test/java/com/bakdata/conquery/integration/sql/dialect/TestSqlConnectorConfig.java
  backend/src/test/resources/tests/sql/yes/CQYES.test.json
  backend/src/test/resources/tests/sql/yes/expected.csv
  backend/src/test/resources/tests/sql/yes/persons.csv
Labels: backend, Project SQL

#3491 Remove order statement from SQL query
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/QueryStepTransformer.java
Labels: backend, Project SQL

#3493 Fix EXISTS select conversion on connector level
  backend/src/main/java/com/bakdata/conquery/sql/conversion/cqelement/concept/AggregationFilterCte.java
  backend/src/test/resources/tests/sql/combined/combined.json
  backend/src/test/resources/tests/sql/combined/expected.csv
  backend/src/test/resources/tests/sql/selects/exists/exists_on_connector/content.csv
  backend/src/test/resources/tests/sql/selects/exists/exists_on_connector/exists.spec.json
  backend/src/test/resources/tests/sql/selects/exists/exists_on_connector/expected.csv
Labels: bug, backend, Project SQL

#3494 Implement DistinctSelect conversion
  backend/src/main/java/com/bakdata/conquery/models/datasets/concepts/select/connector/DistinctSelect.java
  backend/src/main/java/com/bakdata/conquery/models/types/ResultType.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/dialect/HanaSqlFunctionProvider.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/dialect/PostgreSqlFunctionProvider.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/dialect/SqlFunctionProvider.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/QueryStep.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/QueryStepTransformer.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/select/DistinctSelectConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/execution/DefaultResultSetProcessor.java
  backend/src/main/java/com/bakdata/conquery/sql/execution/ResultSetProcessor.java
  backend/src/test/resources/tests/sql/combined/combined.json
  backend/src/test/resources/tests/sql/combined/expected.csv
  backend/src/test/resources/tests/sql/selects/distinct/content.csv
  backend/src/test/resources/tests/sql/selects/distinct/distinct.json
  backend/src/test/resources/tests/sql/selects/distinct/expected.csv
Labels: backend, Project SQL

#3497 Use DateReader in DefaultResultSetProcessor
  backend/src/main/java/com/bakdata/conquery/mode/local/LocalNamespaceHandler.java
  backend/src/main/java/com/bakdata/conquery/sql/execution/DefaultResultSetProcessor.java
  backend/src/main/java/com/bakdata/conquery/sql/execution/ResultSetProcessorFactory.java
  backend/src/test/java/com/bakdata/conquery/integration/sql/dialect/PostgreSqlIntegrationTests.java
Labels: backend, Project SQL

#3502 Feature/untangle dataset registry and meta storage
  backend/src/main/java/com/bakdata/conquery/commands/ManagerNode.java
  backend/src/main/java/com/bakdata/conquery/io/jackson/serializer/MetaIdReferenceDeserializer.java
  backend/src/main/java/com/bakdata/conquery/io/storage/MetaStorage.java
  backend/src/main/java/com/bakdata/conquery/io/storage/NamespaceStorage.java
  backend/src/main/java/com/bakdata/conquery/io/storage/NamespacedStorage.java
  backend/src/main/java/com/bakdata/conquery/mode/DelegateManager.java
  backend/src/main/java/com/bakdata/conquery/mode/InternalObjectMapperCreator.java
  backend/src/main/java/com/bakdata/conquery/mode/Manager.java
  backend/src/main/java/com/bakdata/conquery/mode/ManagerProvider.java
  backend/src/main/java/com/bakdata/conquery/mode/NamespaceHandler.java
  backend/src/main/java/com/bakdata/conquery/mode/cluster/ClusterManagerProvider.java
  backend/src/main/java/com/bakdata/conquery/mode/local/LocalManagerProvider.java
  backend/src/main/java/com/bakdata/conquery/models/config/StoreFactory.java
  backend/src/main/java/com/bakdata/conquery/models/config/XodusStoreFactory.java
  backend/src/main/java/com/bakdata/conquery/models/identifiable/CentralRegistry.java
  backend/src/main/java/com/bakdata/conquery/models/identifiable/ids/NamespacedId.java
  backend/src/main/java/com/bakdata/conquery/models/worker/DatasetRegistry.java
  backend/src/main/java/com/bakdata/conquery/models/worker/IdResolveContext.java
  backend/src/main/java/com/bakdata/conquery/models/worker/Namespace.java
  backend/src/main/java/com/bakdata/conquery/models/worker/SingletonNamespaceCollection.java
  backend/src/main/java/com/bakdata/conquery/models/worker/Worker.java
  backend/src/main/java/com/bakdata/conquery/models/worker/Workers.java
  backend/src/main/java/com/bakdata/conquery/resources/admin/AdminServlet.java
  backend/src/main/java/com/bakdata/conquery/resources/admin/rest/AdminDatasetProcessor.java
  backend/src/test/java/com/bakdata/conquery/integration/json/ConqueryTestSpec.java
  backend/src/test/java/com/bakdata/conquery/io/AbstractSerializationTest.java
  backend/src/test/java/com/bakdata/conquery/io/jackson/serializer/IdRefrenceTest.java
  backend/src/test/java/com/bakdata/conquery/io/jackson/serializer/SerializationTestUtil.java
  backend/src/test/java/com/bakdata/conquery/models/datasets/concepts/tree/GroovyIndexedTest.java
  backend/src/test/java/com/bakdata/conquery/util/NonPersistentStoreFactory.java
  backend/src/test/java/com/bakdata/conquery/util/support/StandaloneSupport.java
  backend/src/test/java/com/bakdata/conquery/util/support/TestConquery.java
Labels: refactoring

#3495 Fix ConceptColumnSelect conversion if there is only 1 connector
  backend/src/main/java/com/bakdata/conquery/sql/conversion/cqelement/concept/CQConceptConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/cqelement/concept/ConceptSqlTables.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/cqelement/concept/ConnectorSqlTables.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/cqelement/concept/TablePath.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/aggregator/CountQuartersSqlAggregator.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/aggregator/CountSqlAggregator.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/aggregator/DateDistanceSqlAggregator.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/aggregator/FlagSqlAggregator.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/aggregator/SumSqlAggregator.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/select/ConceptColumnSelectConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/select/DateUnionSelectConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/select/DaterangeSelectUtil.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/select/DistinctSelectConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/select/DurationSumSelectConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/select/EventDateUnionSelectConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/select/EventDurationSumSelectConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/select/ExistsSelectConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/select/FirstValueSelectConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/select/LastValueSelectConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/select/RandomValueSelectConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/select/SelectContext.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/select/SelectConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/model/select/ValueSelectUtil.java
  backend/src/test/resources/tests/sql/selects/concept_values/content.csv
  backend/src/test/resources/tests/sql/selects/concept_values/content2.csv
  backend/src/test/resources/tests/sql/selects/concept_values/expected.csv
  backend/src/test/resources/tests/sql/selects/concept_values/single_connector.json
  backend/src/test/resources/tests/sql/selects/concept_values/two_connectors.json
Labels: bug, backend, Project SQL
