Repository ingef/conquery, pull requests merged in 2025-03, with the labels that each got.

#3697 Hotfix: Repeated Bucket processing
  backend/src/main/java/com/bakdata/conquery/models/events/BucketManager.java
  backend/src/main/java/com/bakdata/conquery/models/query/QueryExecutionContext.java
  backend/src/main/java/com/bakdata/conquery/models/query/queryplan/ConceptQueryPlan.java
  backend/src/main/java/com/bakdata/conquery/models/query/queryplan/SecondaryIdQueryPlan.java
  backend/src/main/java/com/bakdata/conquery/models/query/results/ShardResult.java
  backend/src/test/java/com/bakdata/conquery/integration/tests/RestartTest.java
  backend/src/test/resources/tests/query/MULTI_CONCEPT_SINGLE_TABLE/content.csv
  backend/src/test/resources/tests/query/MULTI_CONCEPT_SINGLE_TABLE/expected.csv
  backend/src/test/resources/tests/query/MULTI_CONCEPT_SINGLE_TABLE/query.test.json
Labels: bug, backend, java

#3678 Implement CQExternal extra conversion
  backend/src/main/java/com/bakdata/conquery/apiv1/query/concept/specific/external/CQExternal.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/cqelement/CQExternalConverter.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/cqelement/ConversionContext.java
  backend/src/main/java/com/bakdata/conquery/sql/conversion/query/ConceptQueryConverter.java
  backend/src/test/resources/tests/sql/external/SIMPLE_CQEXTERNAL_QUERY.test.json
  backend/src/test/resources/tests/sql/external/content.csv
  backend/src/test/resources/tests/sql/external/expected.csv
Labels: backend, java, Project SQL

#3699 Fix NPE use null filter at storage
  backend/src/main/java/com/bakdata/conquery/apiv1/QueryProcessor.java
  backend/src/main/java/com/bakdata/conquery/io/storage/MetaStorage.java
  backend/src/main/java/com/bakdata/conquery/resources/admin/rest/AdminResource.java
Labels: bug, java
